* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
:root {
  --primery-color: #ffffff;
  --hover-color: #e60021;
  --button-color: #00559c;
  --black-clr: #080808;
}

body {
  background-color: var(--primery-color);
}

.top-line {
  width: 100%;
  height: 8px;
  background-color: var(--button-color);
}

.logo img {
  width: 145px;
  height: 100px;
  margin: 0 0 0 25px;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  padding: 5px;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-container h1 {
  font-size: 1.8rem;
  margin: 0 0 30px 0;
}
.login-container p {
  font-size: 1rem;
  margin: 0 0 30px 0;
}

.login-container input {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  font-size: 1rem;
}
form {
  width: 100%;
}
input:focus {
  outline: none;
  border: 1px solid var(--button-color);
}
input::placeholder {
  opacity: 0;
}

form button {
  width: 105%;
  height: 40px;
  background-color: var(--button-color);
  color: var(--primery-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--hover-color);
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-color);
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.container-footer p,
a {
  font-size: 1rem;
  margin: 0 0 0 10px;
  text-decoration: none;
  color: var(--button-color);
}

.Media-Buttons {
  display: flex;
  justify-content: start;
  gap: 3px;
}

.Media-Buttons a {
  border: var(--black-clr) solid 1px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.Media-Buttons a:hover {
  border: var(--hover-color) solid 1px;
}

.link {
  font-size: 20px;
}

.title {
  margin-top: 40px;
}

.title p {
  margin: 0 0 20px 0;
}
