body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
input {
  padding: 10px;
  margin: 0 15px 0 15px;
}
input[type="text"] {
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  padding-left: 10px;
}
input[type="submit"] {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: #9240f0;
  color: white;
  border: none;
}
button {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: #e9113c;
  color: white;
  border: none;
}

.container-1 {
  background-color: #9240f0;
  max-width: 20rem;
  height: 20rem;
  padding: 15px 15px 0 15px;
  border-radius: 15px;
}
